@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap");

body {
  background-image: url("./newspaper.jpg");
}
a {
  color: #8d808c;
}
.App {
  margin: auto;
  width: 50%;
  font-family: "Gloria Hallelujah", cursive;
}
.App-header {
  margin: 30px 0;
}
.App-footer {
  text-align: center;
  margin: 30px auto;
  color: #212529;
  background-color: #f3f1f7;
  width: 300px;
  font-weight: bold;
}
.App-footer a {
  color: #212529;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.App-footer a:hover {
  color: #bd9945;
}
